/*
@color0: #00CEC0;
@link: #04B5A0;
@color2: #E5F416;
@color3: #FCA61B;
@color4: #EF5F00;
*/
body {
  background: #f5f5f5;
  font-family: Georgia;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  color: #555555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrap {
  width: 980px;
  background: #ffffff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  box-shadow: 0 0 4px #ebebeb;
  margin: 0 auto;
}
.header {
  height: 126px;
  border-bottom: 4px solid #888888;
}
.header h1.logo {
  position: absolute;
  margin: 30px 0 0 50px;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
}
.header h1.logo a {
  color: #cc3333;
}
.header ul.nav {
  display: block;
  float: right;
  margin: 98px 0 0 0;
}
.header ul.nav .corner {
  float: left;
  width: 0px;
  height: 0px;
  border-left: 28px solid transparent;
  border-bottom: 28px solid #d4d4d4;
}
.header ul.nav .dropdown {
  display: none;
}
.header ul.nav li {
  display: block;
  float: left;
  width: 130px;
  height: 28px;
  line-height: 32px;
  background: #d4d4d4;
}
.header ul.nav a.nav-link {
  display: block;
  text-align: center;
  width: 124px;
  margin: 0 3px;
  height: 28px;
  color: #b82e2e;
}
.header ul.nav a.nav-link:hover {
  text-decoration: none;
  color: #ffffff;
  background: #cc3333;
}
.focus {
  border-bottom: 4px solid #888888;
  height: 380px;
}
.focus img {
  width: 980px;
  height: 380px;
}
.main {
  margin: 20px 0;
}
.row {
  overflow: auto;
}
.row .col {
  width: 292px;
  margin: 0 0 0 26px;
  float: left;
}
.col-weight h2 {
  height: 28px;
  /*
        border-bottom: 1px solid lighten(@color3, 20%);
        border-top: 1px solid lighten(@color3, 20%);
        */

  border-bottom: 1px solid #555555;
  border-top: 1px solid #555555;
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #cc3333;
  line-height: 28px;
  margin: 0 0 10px 0;
}
.col-weight p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  word-break: keep-all;
}
.col-weight .content {
  overflow: hidden;
  height: 255px;
}
.col-weight .col-list li {
  margin-bottom: 10px;
}
.col-weight .col-list a {
  display: block;
  margin: 0;
  padding: 0;
  height: 120px;
}
.col-weight .col-list img {
  width: 290px;
  height: 120px;
  border: 1px solid #c3c3c3;
}
.gallery-small a {
  display: block;
  float: left;
  height: 90px;
  height: 76px;
  margin: 0 0 10px 11px;
}
.gallery-small a:nth-child(3n + 1) {
  margin-left: 0;
}
.gallery-small img {
  width: 90px;
  height: 76px;
}
.footer {
  height: 120px;
  background: #d7d7d7;
  color: #555555;
}
.footer .copyright {
  position: absolute;
  margin: 20px 0 0 30px;
}
.footer .copyright p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.footer .copyright p.important {
  font-weight: bold;
}
.footer .links {
  color: #555555;
  position: absolute;
  margin: 20px 0 0 370px;
}
.footer .links p {
  margin: 0;
}
.footer .links p.title {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 5px 0;
  font-weight: bold;
}
.footer .follow-us {
  color: #555555;
  position: absolute;
  margin: 20px 0 0 790px;
}
.footer .follow-us p {
  margin: 0;
}
.footer .follow-us p.title {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 5px 0;
  font-weight: bold;
}
.footer .follow-us a.icon {
  display: block;
  float: left;
  height: 38px;
  width: 38px;
  background: #888888;
  border-radius: 19px;
  margin-right: 10px;
  margin-top: 5px;
  text-indent: -9999px;
}
.footer .follow-us a.icon:hover {
  background: #6f6f6f;
}
